body{
    /* overflow-x: hidden; */
}

#num{
    font-size: 54px;
    font-weight: bold;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 80px;
    right: -10px;
}

main{
    display:block;
}

/* =========手機以上通用設定==========*/
@media screen and (min-width:768px){
    /* =========右邊標題========= */
    .title{
        -webkit-box-writing-mode:vertical-rl;
        writing-mode:vertical-rl;
        -webkit-text-orientation: upright;
        text-orientation: upright;
        position: absolute;
        right: 10px;
    }

    #num{
        position: relative;
        right: 0px;
        top: 10px;
        font-size: 60px;
    }

    #num,h1,h2{
    display: inline-block;
    letter-spacing: 5px;
    }

    h1{
        top: 10px;
        right: -40px;
    }
    
    h2{
        top: 30px;
        right: 10px;
    }
}


/* =========圖片區========= */
#imgDev{
    width: 840px;
    position: absolute;
    right: 10px;
    top:350px;
}


#img{
    width: 230%;
    position: relative;
    right: 1000px;
    top: -550px;
    bottom: auto;
}


#topic{
    width: 600px;
    height: 600px;
    padding: 50px 50px;
    background-image: radial-gradient(rgba(255,255,255,.6),rgba(255,255,255,.5),rgba(255,255,255,.5),rgba(255,255,255,.0),rgba(255,255,255,0));

    position: absolute;
    top:-200px;
    left: -10px;
    transform: rotate(0deg);

    display: block;
}

.keyWords{
    display: inline-block;
    background-image: radial-gradient(rgba(255,255,255,.6),rgba(255,255,255,.5),rgba(255,255,255,.5),rgba(255,255,255,.0),rgba(255,255,255,0),rgba(255,255,255,.0),rgba(255,255,255,0));
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 50px;
    padding: 7px 0px;
    cursor: pointer;
    z-index: 1000;

    position: absolute;
}

.keyWords span{
    font-size: 48px;
}

.blur{
    filter: blur(3px);
}

.keyWords:nth-child(1){
    top: 20px;
    left: 80px;
}

.keyWords:nth-child(2){
    writing-mode:vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    text-align: end;
    top: 150px;
    left: 80px;
}

.keyWords:nth-child(3){
    text-align: end;
    top: 400px;
    left: 25px;
}

.keyWords:nth-child(6){
    text-align: end;
    top: 550px;
    left: 20%;
}

.keyWords:nth-child(4){
    writing-mode:vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    text-align: end;
    top: 18%;
    left: 35%;
}

.keyWords:nth-child(5){
    writing-mode:vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    text-align: end;
    top: 45%;
    left: 50%;
}

.keyWords:nth-child(7){
    text-align: end;
    top: 7%;
    left: 43%;
}

.keyWords:nth-child(8){
    top: 23%;
    left: 53%;
}

.keyWords:nth-child(9){
    writing-mode:vertical-rl;
    top: 40%;
    left: 70%;
}

/* =========左上標題========= */
#lt{
    padding-top: 30px;
    padding-left: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 35px;
    opacity: 1;
    /* opacity: 0; */
}


/* =========左下文字========= */
#word{
    padding-top: 50px;
    padding-left: 60px;
    max-width: 80%;
    position: absolute;
    /* opacity: 1; */
    opacity: 0;
    /* display: none; */
    
    z-index: 10;
}

#word_title{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 50px;
}

#word_title img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#word_text{
    padding: 10px;
    padding-top: 30px;
}

.txt{
    padding: 15px 0px;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 1px;
}

@media screen and (max-width:1300px){

    .title{
        right: 0px;
    }

    /* =========圖片區=========*/
    #imgDev{
        width: 700px;
        right: -230px;
    }

    #topic{
        top:-250px;
        left: -200px;
    }

    .keyWords{
        font-size: 24px;
        line-height: 35px;
    }

    .keyWords span{
        font-size: 36px;
    }

    .keyWords:nth-child(2){
        top: 130px;
        left: 80px;
    }

    .keyWords:nth-child(3){
        top: 300px;
        left: 70px;
    }

    .keyWords:nth-child(4){
        top: 10px;
        left: 240px;
    }

    .keyWords:nth-child(5){
        top: 260px;
        left: 240px;
    }

    .keyWords:nth-child(6){
        top: 440px;
        left: 20%;
    }

    .keyWords:nth-child(7){
        top: 20px;
    }

    .keyWords:nth-child(8){
        top: 140px;
        left: 45%;
    }

    .keyWords:nth-child(9){
        top: 40%;
        left: 50%;
    }


    /* =========左下文字========= */
     #word{
        padding-left: 20px;
        max-width: 70%;
    }

    .txt{
        padding: 15px 0px;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 1.2px;
    }
}

@media screen and (max-width:1100px){
    /* =========圖片區=========*/
    #imgDev{
        width: 600px;
        top: 400px;
        right: -300px;
    }

    #topic{
        top:-300px;
        left: -350px;
    }

    .keyWords:nth-child(1){
        top: 20px;
        left: 100px;
    }

    .keyWords:nth-child(3){
        top: 300px;
        left: 30px;
    }

    .keyWords:nth-child(4){
        top: 10px;
        left: 260px;
    }

    .keyWords:nth-child(5){
        top: 130px;
        left: 180px;
        text-align: start;
    }

    .keyWords:nth-child(6){
        top: 350px;
        left: 30%;
    }

    .keyWords:nth-child(7){
        top: 50px;
    }

    .keyWords:nth-child(8){
        top: 170px;
        left: 45%;
    }

    .keyWords:nth-child(9){
        top: 40%;
        left: 54%;
    }
}


@media screen and (max-width:768px){
    /* =========右邊標題========= */
    .title{
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 50px;
    }
    #num::before{
        top:50px;
        right: 0px;
    }

    h1{
        top: 30px;
        right: 30px;
    }

    h2{
        top: 30px;
        right: 20px;
    }
    
    /* =========左上標題========= */
    #lt{
        padding-top: 0px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 28px;
    }
    /* =========圖片區========= */
    #imgDev{
        width: 600px;
        top: 650px;
        right: -600px;
    }

    #topic{
        top:-300px;
        left: -300px;
    }
}