/* =========圖片區========= */
#imgDev{
    width: 50%;
    height: 70vh;
    position: absolute;
    right: 300px;
    bottom: 20px;
}


#img{
    width: 230%;
    position: relative;
    right: 800px;
    top: -500px;
    bottom: auto;
}


#topic{
    width: 70%;
    height: 100%;
    padding: 50px 50px;
    background-image: radial-gradient(rgba(255,255,255,.6),rgba(255,255,255,.5),rgba(255,255,255,.5),rgba(255,255,255,.0),rgba(255,255,255,0));

    position: absolute;
    bottom: -20px;
    left: 350px;
    transform: rotate(0deg);

    display: block;
}

.keyWords{
    display: inline-block;
    background-image: radial-gradient(rgba(255,255,255,.6),rgba(255,255,255,.5),rgba(255,255,255,.2),rgba(255,255,255,.0),rgba(255,255,255,0));
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 50px;
    cursor: pointer;
    z-index: 5;

    position: absolute;
}

.keyWords span{
    font-size: 48px;
}

.blur{
    filter: blur(3px);
}

.keyWords:nth-child(1){
    top: 20px;
    left: 80px;
}

.keyWords:nth-child(2){
    writing-mode:vertical-rl;
    text-orientation: upright;
    text-align: end;
    top: 150px;
    left: 80px;
}

.keyWords:nth-child(3){
    text-align: end;
    top: 400px;
    left: 25px;
}

.keyWords:nth-child(6){
    text-align: end;
    top: 73%;
    left: 20%;
}

.keyWords:nth-child(4){
    writing-mode:vertical-rl;
    text-orientation: upright;
    text-align: end;
    top: 18%;
    left: 35%;
}

.keyWords:nth-child(5){
    writing-mode:vertical-rl;
    text-orientation: upright;
    text-align: end;
    top: 45%;
    left: 50%;
}

.keyWords:nth-child(7){
    text-align: end;
    top: 7%;
    left: 43%;
}

.keyWords:nth-child(8){
    top: 23%;
    left: 53%;
}

.keyWords:nth-child(9){
    writing-mode:vertical-rl;
    text-orientation: upright;
    top: 40%;
    left: 70%;
}

/* =========左上標題========= */
#lt{
    padding-top: 30px;
    padding-left: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 35px;
    opacity: 1;
    /* opacity: 0; */
}


/* =========左下文字========= */
#word{
    padding-top: 20px;
    padding-left: 60px;
    max-width: 80%;
    position: absolute;
    /* opacity: 1; */
    opacity: 0;
    /* display: none; */
    
    z-index: 10;
}

#word_title{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 50px;
}

#word_title img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#word_text{
    padding: 10px;
    padding-top: 30px;
}

.txt{
    padding: 15px 0px;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 1px;
}

@media screen and (max-width:1200px){

    /* =========圖片區========= */
    #imgDev{
        width: 65%;
        right: 150px;
        bottom: 0px;
    }

    #img{
        width: 200%;
        right: 500px;
        top: -300px;
    }

    #topic{
        width: 80%;
        padding: 10px;

        bottom: 80px;
        left: 80px;
    }

    .keyWords{
        font-size: 22px;
        line-height: 40px;
    }
    
    .keyWords span{
        font-size: 32px;
    }

    .keyWords:nth-child(1){
        top: 10%;
        left: 32%;
    }
    
    .keyWords:nth-child(2){
        top: 23%;
        left: 40%;
    }
    
    .keyWords:nth-child(3){
        top: 56%;
        left: 29%;
    }
    
    .keyWords:nth-child(6){
        top: 76%;
        left: 20%;
    }
    
    .keyWords:nth-child(4){
        top: 12%;
        left: 60%;
    }
    
    .keyWords:nth-child(5){
        top: 63%;
        left: 53%;
    }
    
    .keyWords:nth-child(7){
        writing-mode:vertical-rl;
        text-orientation: upright;
        text-align: end;
        top: 15%;
        left: 70%;
    }
    
    .keyWords:nth-child(8){
        writing-mode:vertical-rl;
        text-orientation: upright;
        top: 43%;
        left: 80%;
    }
    
    .keyWords:nth-child(9){
        text-align: end;
        top: 65%;
        left: 72%;
    }

    /* =========左上標題========= */
    #lt{
        padding-left: 20px;
        font-size: 20px;
        line-height: 25px;
    }

    /* =========左下文字========= */
    #word{
        padding-left: 20px;
        max-width: 70%;
    }

    .txt{
        padding: 10px 0px;
        font-size: 18px;
        line-height: 20px;
    }
}