/* =========圖片區========= */

#imgDev{
    width: 60%;
    height: 50vh;
    position: absolute;
    right: 300px;
    bottom: 0px;
}

#img_wrap{
    display: flex;
    justify-content: center;
    align-content: center;
}

#img{
    position: absolute;
    right: 0px;
    bottom: -100px;
}

#topic_center{
    position: relative;
    right: 30px;
    bottom: 40px;

    font-size: 54px;
    text-align: center;
    z-index: 5;
}


#topic{
    width: 60%;
    height: 100%;
    padding: 100px 100px;
    background-image: radial-gradient(rgba(255,255,255,.8),rgba(255,255,255,.3),rgba(255,255,255,.5),rgba(255,255,255,.0),rgba(255,255,255,0));
    position: absolute;
    bottom: 100px;
    left: 60px;

    display: block;
    transform: rotate(0deg);
}

.keyWords{
    position: absolute;
    top: 50%;
    left: 50%;


    font-size: 36px;
    letter-spacing: 2px;
    text-orientation: upright;

    background-image: radial-gradient(rgba(255,255,255,.8),rgba(255,255,255,.3),rgba(255,255,255,.5),rgba(255,255,255,.0),rgba(255,255,255,0));;
    cursor: pointer;
    z-index: 5;
}

.keyWords:nth-child(1){
    top:6%;
    left: 57%;
    transform: rotate(20deg);
}

.keyWords:nth-child(2){
    top:23%;
    left: 73%;
    transform: rotate(60deg);
}

.keyWords:nth-child(3){
    writing-mode:vertical-rl;
    top:40%;
    left: 82%;
    /* transform: rotate(50deg); */
}

.keyWords:nth-child(4){
    top:73%;
    left: 71%;
    transform: rotate(-40deg);
}

.keyWords:nth-child(5){
    top: 83%;
    left: 59%;
    transform: rotate(-10deg);
}


.keyWords:nth-child(6){
    top: 83%;
    left: 43%;
    transform: rotate(10deg);
}

.keyWords:nth-child(7){
    top: 73%;
    left: 28%;
    transform: rotate(40deg);
}

.keyWords:nth-child(8){
    writing-mode:vertical-rl;
    top: 42%;
    left: 23%;
}

.keyWords:nth-child(9){
    top: 23%;
    left: 25%;
    transform: rotate(-60deg);
}

.keyWords:nth-child(10){
    top: 6%;
    left: 42%;
    transform: rotate(-20deg);
}

/* =========左下文字========= */
#word{
    padding-top: 20px;
    padding-left: 60px;
    max-width: 80%;
    position: absolute;
    /* opacity: 1; */
    opacity: 0;
    /* display: none; */
    
    z-index: 10;
}

#word_title{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 50px;
}

#word_title img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#word_text{
    padding: 10px;
    padding-top: 30px;
}

.txt{
    padding: 15px 0px;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 1px;
}

@media screen and (max-width:1200px){

    /* =========圖片區========= */
    #imgDev{
        width: 85%;
        height: 83vh;
        right: 30px;
    }

    #topic{
        width: 80%;
        padding: 10px;
        
        bottom: 40px;
        left: 20px;
    }

    #topic_center{
        right:20px;
        bottom: -200px;
    
        font-size: 54px;
        text-align: center;
        z-index: 5;
    }

    .keyWords{
        font-size: 28px;
    }

    .keyWords:nth-child(1){
        top:20%;
    }
    
    .keyWords:nth-child(2){
        top:33%;
    }
    
    .keyWords:nth-child(3){
        top:48%;
        left: 81%;
    }
    
    .keyWords:nth-child(4){
        top:75%;
        left: 69%;
    }
    
    .keyWords:nth-child(5){
        left: 58%;
        transform: rotate(-15deg);
    }
    
    
    .keyWords:nth-child(6){
        left: 44%;
        transform: rotate(20deg);
    }
    
    .keyWords:nth-child(7){
        left: 30%;
    }
    
    .keyWords:nth-child(8){
        top:48%;
        left: 25%;
    }
    
    .keyWords:nth-child(9){
        top:33%;
        left: 28%;
    }
    
    .keyWords:nth-child(10){
        top: 20%;
    }

    /* =========左上標題========= */
    #lt{
        padding-left: 20px;
        font-size: 20px;
        line-height: 25px;
    }

    /* =========左下文字========= */
    #word{
        padding-left: 20px;
        max-width: 70%;
    }

    .txt{
        padding: 10px 0px;
        font-size: 18px;
        line-height: 20px;
    }
}