/* =========圖片區========= */

#imgDev{
    width: 1000px;
    right: 50px;
    top:0px;
}

#img_wrap{
    display: flex;
    justify-content: center;
    align-content: center;
}

#img{
    position: absolute;
}

#topic_center{
    position: relative;
    right: 20px;
    top: 410px;

    font-size: 54px;
    text-align: center;
    z-index: 5;
}


#topic{
    width: 800px;
    padding: 100px 0px;
    background-image: radial-gradient(rgba(255,255,255,.8),rgba(255,255,255,.3),rgba(255,255,255,.5),rgba(255,255,255,.0),rgba(255,255,255,0));
    /* background-image: none; */
    /* position: absolute; */
    top: 240px;
    left: 60px;

    display: block;
    transform: rotate(0deg);
}

.keyWords{
    display: inline-block;
    position: relative;
    font-size: 36px;
    letter-spacing: 2px;
    text-orientation: upright;

    background-image: radial-gradient(rgba(255,255,255,.8),rgba(255,255,255,.3),rgba(255,255,255,.5),rgba(255,255,255,.0),rgba(255,255,255,0));
    cursor: pointer;
    z-index: 1000;
}

.keyWords:nth-child(1){
    top: -260px;
    left: 430px;
    transform: rotate(20deg);
}

.keyWords:nth-child(2){
    top: -165px;
    left: 390px;
    transform: rotate(60deg);
}

.keyWords:nth-child(3){
    writing-mode:vertical-rl;
    top: 55px;
    left: 350px;
}

.keyWords:nth-child(4){
    top: 125px;
    left: 210px;
    transform: rotate(-40deg);
}

.keyWords:nth-child(5){
    top: 190px;
    left: -5px;
    transform: rotate(-15deg);
}


.keyWords:nth-child(6){
    top: 185px;
    left: -205px;
    transform: rotate(15deg);
}

.keyWords:nth-child(7){
    top: 120px;
    left: -400px;
    transform: rotate(40deg);
}

.keyWords:nth-child(8){
    writing-mode:vertical-rl;
    top: 40px;
    left: -530px;
}

.keyWords:nth-child(9){
    top: -210px;
    left: 190px;
    transform: rotate(-60deg);
}

.keyWords:nth-child(10){
    top: -310px;
    left: 230px;
    transform: rotate(-20deg);
}

/* =========左下文字========= */

#word{
    padding-top: 20px;
    padding-left: 60px;
    max-width: 80%;
    position: absolute;
    /* opacity: 1; */
    opacity: 0;
    /* display: none; */
    
    z-index: 0;
}

#word_title{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 50px;
}

#word_title img{
    /* width: 50px; */
    height: 50px;
    cursor: pointer;

    width: 0px;
}

#word_text{
    padding: 10px;
    padding-top: 30px;
}

.txt{
    padding: 15px 0px;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 1px;
}

@media screen and (max-width:1200px){

    /* =========圖片區========= */
    #imgDev{
        width: 850px;
        top:50px;
    }

    #topic_center{
        top: 350px;
    }

    #topic{
        width: 800px;
        top: 200px;
        left: 0px;
    }

    .keyWords{
        font-size: 30px;
        padding: 1px;
    } 

    
    .keyWords:nth-child(1){
        top: -220px;
        left: 415px;
    }
    
    .keyWords:nth-child(2){
        top: -140px;
        left: 390px;
    }
    
    .keyWords:nth-child(3){
        top: 45px;
        left: 345px;
    }
    
    .keyWords:nth-child(4){
        top: 105px;
        left: 220px;
    }
    .keyWords:nth-child(5){
        top: 155px;
        left: 35px;
    }
    
    .keyWords:nth-child(6){
        top: 155px;
        left: -135px;
    }
    
    
    .keyWords:nth-child(7){
        top: 100px;
        left: -310px;
    }

    .keyWords:nth-child(8){
        top: 20px;
        left: -420px;
    }
    
    .keyWords:nth-child(9){
        top: -150px;
        left: -435px;
    }
    
    .keyWords:nth-child(10){
        top: -225px;
        left: -410px;
    }

    /* =========左下文字========= */
    #word{
        padding-left: 20px;
        max-width: 70%;
    }

    .txt{
        padding: 15px 0px;
        font-size: 26px;
        line-height: 35px;
        letter-spacing: 1.2px;
    }
}

/* =========手機以上通用設定==========*/
@media screen and (min-width:768px){
    /* =========右邊標題========= */
    .title{
        -webkit-box-writing-mode:vertical-rl;
        writing-mode:vertical-rl;
        -webkit-text-orientation: upright;
        text-orientation: upright;
        position: absolute;
        right: 10px;
    }

    #num{
        position: relative;
        right: 0px;
        top: 10px;
        font-size: 60px;
    }

    #num,h1,h2{
    display: inline-block;
    letter-spacing: 5px;
    }

    h1{
        top: 10px;
        right: -40px;
    }
    
    h2{
        top: 30px;
        right: 10px;
    }
}

@media screen and (max-width:768px){
    /* =========右邊標題========= */
    .title{
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 50px;
    }
    #num::before{
        top:50px;
        right: 0px;
    }

    h1{
        top: 30px;
        right: 30px;
    }

    h2{
        top: 30px;
        right: 20px;
    }
    
    /* =========左上標題========= */
    #lt{
        padding-top: 0px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 28px;
    }
    /* =========圖片區========= */
    #imgDev{
        top:180px;
        right: -130px;
    }
}