*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'wctmt';
    src: url('wwtmt.ttc');
}

body{
    font-family: 'wctmt';
}

img{
    width: 100%;
}

/* =========右邊標題========= */

.title{
    -webkit-box-writing-mode:vertical-rl;
    writing-mode:vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    position: absolute;
    top: 30px;
    right: 0px;
    z-index: 10;
}

#num,h1,h2{
    display: inline-block;
    letter-spacing: 5px;
}

#num{
    position: relative;
    right: 0px;
    top: 10px;
    font-size: 60px;
}

#num::before{
    content: '';
    display: block;
    border-radius: 5px;
    background-color: #000;
    height: 3px;
    width: 90px;
    transform: rotate(-50deg);
    position: relative;
    top:55px;
    right: 50px;
}

h1{
    position: relative;
    top: 10px;
    right: -40px;
    font-size: 50px;
}

h2{
    position: relative;
    top: 30px;
    right: 10px;
    font-size: 90px;
}

/* =========主要區域========= */
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
}


/* =========互動區========= */


/* =========圖片區========= */

#imgDev{
    width: 50%;
    height: 50vh;
    position: absolute;
    right: 300px;
    bottom: 20px;
}


#img{
    position: absolute;
    right: 0px;
    bottom: -50px;
}

.pie_img{
    transform: scale(-1,1);
}


#topic{
    width: 60%;
    height: 100%;
    padding: 100px 100px;
    background-image: radial-gradient(rgba(255,255,255,.6),rgba(255,255,255,.5),rgba(255,255,255,.5),rgba(255,255,255,.0),rgba(255,255,255,0));

    position: absolute;
    bottom: 20px;
    left: 60px;
    transform: rotate(-5deg);


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.keyWords{
    font-size: 36px;
    letter-spacing: 2px;
    cursor: pointer;
    z-index: 5;
}


/* =========左上標題========= */
#lt{
    padding-top: 30px;
    padding-left: 60px;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 35px;
    opacity: 1;
    /* opacity: 0; */

    z-index: -1;
}


/* =========左下文字========= */
#word{
    padding-top: 20px;
    padding-left: 60px;
    max-width: 80%;
    position: absolute;
    /* opacity: 1; */
    opacity: 0;
    /* display: none; */
    
    z-index: 10;
}

#word_title{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 50px;
}

#word_title img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    animation: back .7s linear 0s infinite alternate;
}

@keyframes back {
    from {
        transform: scale(1,1);
    }
    to {
        transform: scale(0.8,0.8);
    }
}

#word_text{
    padding: 10px;
    padding-top: 30px;
}

.txt{
    padding: 15px 0px;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 1px;
}

@media screen and (max-width:1200px){
    #num{
        font-size: 30px;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 80px;
        right: -10px;
    }

    main{
        display:block;
    }

    .title{
        -webkit-text-orientation: upright;
        text-orientation: upright;
    }

    /* =========圖片區========= */
    #imgDev{
        width: 65%;
        right: 100px;
    }

    #img{
        width: 115%;
        right: -30px;
        bottom: -90px;
    }

    #topic{
        width: 80%;
        padding: 10px;

        
        bottom: 90px;
        left: 60px;
        transform: rotate(-6deg);

        gap: 30px;
    }

    .keyWords{
        font-size: 28px;
        padding:20px 10px;
    }

    /* =========左上標題========= */
    #lt{
        padding-left: 20px;
        font-size: 24px;
        line-height: 25px;
    }

    /* =========左下文字========= */
    #word{
        padding-left: 20px;
        max-width: 70%;
    }

    .txt{
        padding: 15px 0px;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 1.2px;
    }
}