*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'wctmt';
    src: url('wwtmt.ttc');
}

body{
    font-family: 'wctmt';
}

img{
    width: 100%;
}

/* =========右邊標題========= */

.title{
    writing-mode:vertical-rl;
    text-orientation: upright;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 10;
}

.num,h1,h2{
    display: inline-block;
    letter-spacing: 5px;
}

.num{
    position: relative;
    right: 0px;
    top: 10px;
    font-size: 60px;
}

.num::before{
    content: '';
    display: block;
    border-radius: 5px;
    background-color: #000;
    height: 3px;
    width: 90px;
    transform: rotate(-50deg);
    position: relative;
    top:55px;
    right: 50px;
}

h1{
    position: relative;
    top: 10px;
    right: -40px;
    font-size: 50px;
}

h2{
    position: relative;
    top: 30px;
    right: 10px;
    font-size: 90px;
}

/* =========主要區域========= */
main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


/* =========左上標題========= */
#lt{
    padding-top: 30px;
    padding-left: 60px;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 35px;
}

#lt p{
    z-index: 10;
}

/* =========互動區========= */
#app{
    padding-left: 60px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
}

/* =========左下文字========= */
#word{
    padding-top: 20px;
    max-width: 80%;
    z-index: 10;
}

#word_title{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 50px;
}

#word_title img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#word_text{
    padding: 10px;
    padding-top: 30px;
}

.txt{
    padding: 20px 0px;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 1px;
}

/* =========圖片區========= */

.cover{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    
    z-index: 0;
}

#imgDev{
    width: 55%;
    position: absolute;
    right: 100px;
    bottom: -60px;
}
