/* fonts */

div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: rgb(0, 0, 0); }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: rgb(7, 28, 31); }
div.jqcloud a:hover { color: rgb(0, 0, 0); }
div.jqcloud span.w10 { color: rgb(26, 26, 26); }
div.jqcloud span.w9 { color: rgb(29, 29, 29); }
div.jqcloud span.w8 { color: rgb(34, 34, 34); }
div.jqcloud span.w7 { color: rgb(44, 44, 44); }
div.jqcloud span.w6 { color: #3b3b3b; }
div.jqcloud span.w5 { color: #575757; }
div.jqcloud span.w4 { color: #5c5c5c; }
div.jqcloud span.w3 { color: #7e7e7e; }
div.jqcloud span.w2 { color: #949494; }
div.jqcloud span.w1 { color: #b3b3b3; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }